/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: #fff;
    letter-spacing: 1px;
}
 html {
    font-size: 18px;
    /* 1rem = 18px */
    /* Nếu không khai báo font-size thì 1rem tự động là 16px */
}
button {
    background-color: #ee6c4d;
    border: 1px solid #293241;
    border-radius: 7px;
    color: black;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .5s;
}
button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    text-align: center;
}


/* HEADER */
header {
    background-color: #293241;
    padding: 20px 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;

}
.header__content {
    width: 90%;
    text-transform: uppercase;
    margin:0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content p span {
    font-size: 2.5rem;
    font-weight: bold;
}
.header__content .search input {
    margin: 0 20px;
    padding: 5px 10px 5px;
    font-family: inherit;
}
.header__content .search input:focus {
    outline: none;
}
.header__content .menu__bar {
    list-style: none;
}
.header__content .menu__bar .menu__items {
    display: inline;
    margin: 0 1rem;
}
.header__content .menu__bar a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s;
}
.header__content .menu__bar a:hover {
    color: #ee6c4d;
    border-bottom: 4px solid #ee6c4d;
    padding-bottom: 25px;
}
.header__content p {
    font-size: 2.3rem;
    color: white;
}
.header__content .sign__in, .header__content .sign__in {
    margin: 0 10px;
}

.header__content .sign__in a, .header__content .sign__up a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ee6c4d;
    cursor: pointer;
    opacity: 1;
}
/* sign__in and sign__up */
.sign__in, .sign__up {
    position: relative;
}
.sign__in i, .sign__up i {
    position: absolute;
    top: 0;
    left: 25px;
    width: 100%;
    color: white;
    opacity: 0;
}
.header__content .sign__in:hover i {
    opacity: 1;
}
.header__content .sign__in:hover a {
    opacity: 0;
}
.header__content .sign__up:hover i {
    opacity: 1;
}
.header__content .sign__up:hover a {
    opacity: 0;
}

/* Menu Item SẢN PHẨM  */
.menu__bar .menu__items {
    position: relative;
}
.menu__bar .menu__items .drum__container {
    display: none;
    position: absolute;
    top: 37px;
    left: -5px;
    min-width: 100px;
    height: 100%;
}
.menu__bar .menu__items .drum__container .drum__item {
    background-color: #293241;
    padding: 10px 0;
    font-size: 0.8rem;
}
.menu__bar .menu__items .drum__container .drum__item:hover {
    background-color: black;
    color: white;
    padding-bottom: 10px;
}
.menu__bar .menu__items .drum__container .drum__item a {
    padding: 0 5px;
}

.menu__bar .menu__items:hover .drum__container {
    display: block;
}


/* CAROUSEL  */
.carousel{
    background-image: url(./../img/carousel/c1.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .carousel__content h1 {
    font-size: 4.5rem;
    color: white;
}
.carousel .carousel__content p {
    font-size: 1.06rem;
    padding: 23px 0;
}

/* INTRO */
.intro {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.intro .intro__img1{
    grid-column: 2 / span 2;
}
.intro .intro__drum {
    grid-column: 1 / span 2;
}
.intro .intro__img4 {
    grid-column: 3 / span 2;
}
.intro__items img {
    width: 100%;
    display: block;
}
.intro__img3 img {
    height: 385px
}
.intro__img4 img {
    height: 385px
}
.intro .intro__text {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 32px;
}
.intro .intro__drum {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 32px;
}
.intro__items h3 {
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 3.2rem;
}
.intro__items p {
    color: #c1c1c1;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 29px;
}
.intro .intro__items:first-child, .intro .intro__items:nth-child(8) {
    background-color: #293241;
}
.intro .intro__items:nth-child(3), .intro .intro__items:nth-child(4) {
    background-color: #ee6c4d;
}
.intro .intro__items:nth-child(6) {
    background-color: #465266;
}

/* PRODUCTS */
.products {
    .box_products{
        width: 100%;
        float: left;
        margin-top: 110px;
        margin-bottom: 110px;
        padding-left: 40px;
        padding-right: 40px;
    
    }
    
    .box_order{
        width: 100%;
        float: left;
        margin-bottom: 20px;
        margin-top: 20px;
        background: #f2f3f7;
    }
    
    .box_order select{
        font-size: 13px;
            padding: 5px 8px;
    }
    .box_order > label{
        text-transform: uppercase;
        padding:11px 10px;
        font-size: 14px;
        font-family: 'Roboto-Medium';
        font-weight: normal;
        float: left;
        margin: 0;
    }
    .box_order_item{
        float: left;
        margin-left: 20px;
        position: relative;
    }
    .box_order_item > label{
        font-family: 'Roboto-Medium';
        padding:9px 0px;
        font-size: 15px;
        font-weight: normal;
        float: left;
        margin: 0;
    }
    
    .pull-right {
        float: right!important;
    }
    
    .sort_pricess{
        float: left;
        cursor: pointer;
    }
    .sort_feature{
        float: left;
        cursor: pointer;
    }
    .sort_manufacturer{
        float: left;
        cursor: pointer;
    }
    
    #sort_manufacturer .box_ss ul li{
        width: 33.333333%;
    }
    
    .box_order_item > label.sort_order{
        padding-right: 20px;
        cursor: pointer;
    }
    .box_s{
        position: absolute;
        top: 35px;
        width: 500px;
        background: #fff;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 9999;
    }
    .box_s.box_orderss{
           width: 150px;
        left: -32px;
    }
    .box_ss{
        width: 100%;
        float: left;
    }
    .box_ss ul{
        list-style: none;
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
    }
    .box_ss ul li{
        width: 50%;
        float: left;
        margin-bottom: 5px;
    }
    
    .box_s.box_orderss .box_ss ul li{
        width: 100%;
    }
    .box_ss label{
         font-family: 'Roboto-Medium';
        font-size: 14px;
        font-weight: normal;
        float: left;
        margin: 0;  
        cursor: pointer;
    }
    .box_ss input{
        display: none;
    }
    
    .sort_pricess{
        float: left;
        cursor: pointer;
    }
    .sort_feature{
        float: left;
        cursor: pointer;
    }
    .sort_manufacturer{
        float: left;
        cursor: pointer;
    }
    
    #sort_manufacturer .box_ss ul li{
        width: 33.333333%;
    }
    
    .list-product{
        width: 100%;
        float: left;
    }
    .list-product .item{
        width: 100%;
        float: left;
        margin-bottom: 20px;
        border: 1px solid #e6e7e8;
        padding-bottom: 10px;
        position: relative;
    }
    .list-product .item .width100{
       
    
    }
    .list-product .item .image{
        width: 100%;
        float: left;
        position: relative;
         height: 300px;
         text-align: center;
         padding: 3px;
         overflow: hidden;
         margin-bottom: 7px;
         border-bottom: 1px solid #e6e7e8;
    }
    .list-product .item .image > a > img{
            position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 0;
    }
    .list-product .item .name{
        width: 100%;
        float: left;
        padding: 5px 0px 24px 20px;
        /* height: 56px; */
        /* text-align: center; */
    }
    .list-product .item .name a{
        color: #333333;
        font-size: 16px;
    }
    .list-product .item .name a h3{
        font-size: 16px;
        margin: 0;
        font-weight: bold;
    }
    .list-product .item .name a:hover{
        text-decoration: none;
        color: #ffdd00;
    }
    .list-product .item:hover{
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204,206,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204,206,204,1);
    box-shadow: 0px 0px 5px 0px rgba(204,206,204,1);
        
    }
    
    .list-product .item .price{
        color: #ed1c24;
        font-size: 15px;
        /* text-align: center; */
        font-weight: bold;
        padding-left: 20px;
    }
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    
    .col {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    
    }
    
    .col-full {
        width: 100%;
    }
    
    .col-haft {
        width: 50%;
    }
    
    .col-third {
        width: 33.33333%;
    }
    
    
    .mt-32 {
        margin-top: 20px !important;
    }
    
    .pagination {
        clear: both;
        float: right;
    }
    .pagination strong {
        float: left;
        border: 1px solid #12120f;
        padding: 1px 8px;
        margin: 0px 10px 0px 0px;
        background: #12120f;
        color: #fff;
    }
    .pagination a {
        float: left;
        margin: 0px 10px 0px 0px;
        border: 1px solid #12120f;
        padding: 1px 8px;
        color: #12120f;
    }
    .pagination a:hover{
        border: 1px solid #12120f;
        background: #12120f;
        color: #fff;
        text-decoration: none;
    }
    
    .hidden {
        display: none;
    }
    
    .caret {
        vertical-align: middle;
     
    }
    
}







