:root {
    --main-color : #ee6c4d;
    --sub-main-color: #293241;
}



/* COMMON */
.product-cta .cta.active {
    background-color: #ee6c4d;
}

.product__img-sub .item-img.active {
    border: 1px solid var(--main-color);
}

.product__info-row {
    width: 100%;
    display: flex;
    align-items: center;
}


.rate svg.active path{
    fill: #FFCA56;
}

.cta.white {
    background: #fff;
    border: 1px solid var(--sub-main-color);
}

.cta.black {
    background: #000;
    border: 1px solid var(--sub-main-color);
}

.quantity-cta.liked path {
    fill: red;
}

.product__info-row .title {
    font-size: 2.4rem;
}

.product__info-row:last-child {
    margin: auto 0 12px;
}

.product-content.hidden {
    display: none;
}

.product-content {
    padding: 24px 0;
    border-top: 1px solid var(--sub-main-color);
}

/* PRODUCT DETAIL */

.product__detail {
    padding: 110px 0 50px;
    width: 100%;
    min-height: 500px;
}

.product {
    width: 1170px;
    margin: auto;
}

.product-title {
    font-size: 4.6rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.product-cta .cta {
    margin-bottom: 24px;
    min-width: 155px;
    margin-right: 6px;
    background-color: transparent;
}

.product-cta .cta:hover {
    background-color: var(--main-color);
}

.detail {
    display: flex;
    gap: 24px;
}

.product__img {
    width: 50%;
}

.product__img-spot {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.product__img-spot img{
    border-radius: 24px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.cta-img {
    padding: 0;
    position: absolute;
    left: 12px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 36px;
    height: 36px;
    background: transparent;
    border: 1px solid var(--sub-main-color);
    border-radius: 50%;
}

.cta-img:hover {
    background: var(--main-color);
}

.cta-img.right {
    right: 12px;
    left: auto;
}

.product__img-sub {
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.product__img-sub .item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.product__info-price {
    font-weight: 600;
}

.discount-price {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 6px;
}

.base-price {
    font-size: 1.6rem;
    text-decoration: line-through;
}

.discount {
    margin-left: 12px;
    color: #fff;
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 8px;
}

.rate {
    text-align: center;
    margin-left: auto;
}

.rate path {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dashoffset: 1;
    stroke-linejoin: round;
}

.rate .review {
    margin-top: 4px;
}

.product-color {
    margin-right: 24px;
}

.product-color-cta .cta {
    padding: 0;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


.product_desc .introduce {
    font-size: 1.8rem;
    margin-top: 12px;
    line-height: 1.3;
}

.product_desc .more-detail {
    font-size: 1.4rem;
    margin: 24px auto;
    color: #fff;
    width: 50%;
    border-radius: 999px;
}

.quantity {
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 120px;
    height: 100%;
}

.quantity-cta {
    height: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-size: 1.6rem;
}

.quantity button {
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

.quantity .count {
    text-align: center;
    min-width: 30%;
    padding-bottom: 12px;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px solid var(--main-color);
}

.add__cart {
    color: #fff;
    font-size: 1.6rem;
    margin-right: 16px;
    flex-grow: 1;
}

.favorite {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
}

.favorite:hover {
    background: transparent;
    border: none;
}


/* PRODUCT INFO */

#product__info .title {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 600;
}

#product__info .desc {
    margin-bottom: 12px;
    font-size: 1.8rem;
    line-height: 1.6;
}

.info-img {
    width: 100%;
    height: 700px;
    object-fit: contain;
}