* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ee6c4d; /* main color*/
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Common */

a {
    text-decoration: none;
}

input,
button {
    outline: none;
}
span {
    font-size: 1.3rem;
}

.form-wrapper.open {
    display: block;
}

/* ========== Form ========== */

.content {
    width: 100%;
    height: 100vh;
    padding: 12px;
    background: url(https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1770);
    object-fit: cover;
}

.form-wrapper {
    display: none;
    height: 100%;
    text-align: center;
    max-width: 440px;
    padding: 24px 32px;
    margin: 0 auto;
    border-radius: 12px;
    background: #fff;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form .title {
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 32px 0;
}

.form label {
    margin-right: auto;
    /* margin-bottom: 8px; */
}

.user-input,
.pw-input  {
position: relative;
}

.ic {
    opacity: 0.6;
    font-size: 1.8rem;
    position: absolute;
    top: 12px;
    left: 4px;
}

.fa-eye {
    cursor: pointer;
    display: inline;
    left: auto;
    right: 0;
}

.form .forget-pw {
    margin-left: auto;
    margin-bottom: 12px;
}

.form .forget-pw:hover {
    opacity: 0.8;
}

.form .forget-pw a{
    font-size: 1.2rem;
    color: #000;
}

.form input {
    display: inline-block;
    width: 100%;
    padding: 12px 0 12px 28px;
    margin-bottom: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

.form .submit{
    color: #000;
    padding: 12px 0;
    background: transparent;
    border: 1px solid #000;
    border-radius: 999px;
    margin-bottom: 12px;
    transition: all 0.2s ease;
}

.form .submit:hover {
    opacity: 0.9;
    color: #fff;
    background: #000;
}

.log-in-op {
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
}

.log-in-op a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    min-height: 46px;
    font-size: 2rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.log-in-op a:hover {
    color: #fff;
    background: #000;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: auto;
}

.link {
    color: #000;
}

.link:hover {
    opacity: 0.8;
}