
.container {
    padding: 48px;
    width: 100%;
    min-height: 100vh;
}


.title {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.product-title {
    min-width: 150px;
    font-weight: 600;
    font-size: 2rem;
}

.product-sub {
    font-size: 2.4rem;
}

.product-wraper {
    /* width: 100%; */
    display: flex;
    gap: 24px;
}

.product-wraper .product {
    /* border-bottom: 1px solid #ccc; */
}

.product {
    display: inline-flex;
}

.product .product-sub {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right {
    width: 50%;
}

.product-header {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
}

.left label {
    display: inline-block;
    margin: 12px 0;
}

.left input {
    padding: 6px 4px;
}

.product-desc {
    display: flex;
    flex-direction: column;
}

.product-desc .desc-area {
    resize: none;
    font-size: inherit;
    min-height: 200px;
}

.list-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.img-product {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item {
    position: relative;
}
.item .delete-ic {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.4rem;
}
